### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#total players
total_players = len(purchase_data["SN"].value_counts())
print(total_players)
#print table
table_of_players = pd.DataFrame({"Total Players": [total_players]})
print(table_of_players)

576
   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#number of unique items          ------ I have 179 s/b 183  clean first?
unique_items = len(purchase_data["Item ID"].unique())
print(unique_items)

#average price
average_price = purchase_data["Price"].mean()
print(average_price)

#number of purchases
number_purchases = purchase_data["Purchase ID"].count()
print(number_purchases)

#total revenue
total_revenue = purchase_data["Price"].sum()
print(total_revenue)

#Summary Table Part 2
summary_table = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "Number of Purchases": [number_purchases],
                              "Total Revenue": [total_revenue]})
print(summary_table)

183
3.050987179487176
780
2379.77
   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:


#total males
males_df = purchase_data.loc[(purchase_data["Gender"] == "Male")]
total_males =len(males_df)
#print(total_males)
percent_males = (total_males/total_players)*100
#print(percent_males)

#total females
females_df = purchase_data.loc[(purchase_data["Gender"] == "Female")]
total_females =len(females_df)
#print(total_females)
percent_females = (total_females/total_players)*100
#print(percent_females)

#total other/non-disclosed
other_gender_df = purchase_data.loc[(purchase_data["Gender"] == "Other / Non-Disclosed")]
total_other_gender =len(other_gender_df)
#print(total_other_gender)
percent_other_gender = (total_other_gender/total_players)*100
#print(percent_other_gender)

summary_table2 = pd.DataFrame({"Total Count": [total_males,total_females,total_other_gender],
                              "Percentage of Players": [percent_males,percent_females,percent_other_gender]})
                           
print(summary_table2)

   Total Count  Percentage of Players
0          652             113.194444
1          113              19.618056
2           15               2.604167


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
female_sum = purchase_data.loc[(purchase_data["Gender"] == "Female")]
fs =female_sum.count()
male_sum = purchase_data.loc[(purchase_data["Gender"] == "Male")]
ms = male_sum.count()
other_sum = purchase_data.loc[(purchase_data["Gender"] == "Other ")]
os=other_sum.count()

avg_FemalePurchasePrice = purchase_data.loc[(purchase_data["Gender"] == "Female")]
afpp = avg_FemalePurchasePrice["Price"].mean()
avg_MalePurchasePrice = purchase_data.loc[(purchase_data["Gender"] == "Male")]
ampp = avg_MalePurchasePrice["Price"].mean()
avg_OtherPurchasePrice = purchase_data.loc[(purchase_data["Gender"] == "Other")]
aopp=avg_OtherPurchasePrice["Price"].mean()

total_FemalePP = purchase_data.loc[(purchase_data["Gender"] == "Female")]
tfp=total_FemalePP["Price"].sum()
total_MalePP = purchase_data.loc[(purchase_data["Gender"] == "Male")]
tmp=total_MalePP["Price"].sum()
total_OtherPP = purchase_data.loc[(purchase_data["Gender"] == "Other")]
top=total_OtherPP["Price"].sum()

sumtab =  pd.DataFrame({"Purchase Count": [fs,ms,os],
                       "Average Purchase Price":[afpp,ampp,aopp],
                        "Total Purchase Value":[tfp,tmp,top]})
sumtab

,Purchase Count,Average Purchase Price,Total Purchase Value
0,Purchase ID 113 SN 113 Age ...,3.203009,361.94
1,Purchase ID 652 SN 652 Age ...,3.017853,1967.64
2,Purchase ID 0 SN 0 Age ...,NaN,0.00

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
purchase_data["Age"].max()
purchase_data["Age"].min()
bins = [0,10,20,30,40,50]
group_labels = ["0 to 9","10 to 19", "20 to 29", "30 to 39", "40 to 49"]
purchase_data["View Group"] = pd.cut(purchase_data["Age"],bins,labels=group_labels).head()
purchase_group = purchase_data.groupby("View Group")
print(purchase_group["Age"].count())

View Group
0 to 9      0
10 to 19    1
20 to 29    3
30 to 39    1
40 to 49    0
Name: Age, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80